# KiCad ignore list
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.net
*.dsn
*.ses
*.xml
*.csv

# EagleCAD ignore list
*.s#?
*.b#?
*.l#?
eagle.epf
*.pro
*.job
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.drd
*.drd.*
*.info
*.eps
*.lck
